#google {
    display: block;
    margin: 30px auto 20px auto;
    width: 272px;
    height: 92px;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#leaf {
    height: 15px;
}

header {
    display: grid;
    grid-template-columns: auto 210px;
    padding: 15px 15px 0px 0px;
}

.header-elems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-pictures {
    padding-left: 15px;
}

#dots {
    color: grey;
    opacity: 0.5;
    height: 27px;
    width: 27px;
    padding-left: 15px;
    padding-right: 15px;
}

#avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

body {
    min-height: 100vh;
    font-family: arial, sans-serif;
    font-size: 14px;
    color: grey;
    margin: 0px;
}

.search-box {
    display: flex;
    align-items: center;
    border-radius: 22px;
    border: 1px solid #dfe1e5;
    margin: 30px auto 20px auto;
    width: 584px;
    height: 44px;
    transition: box-shadow .3s;
}

.search-box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.input-field {
    height: 40px;
    width: 440px;
    font-size: 16px;
    border: none;
}

.top {
    color: rgb(77, 69, 69);
}

.left {
    padding-left: 25px;
}

.right {
    padding-right: 25px
}

.buttons {
    text-align: center;
    margin: 10px auto 20px auto;    
}

.input-button:hover {
    border: 1px solid;
    border-color: lightgray;
}

input:focus {
    outline: none;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#russia {
    margin: 0px auto 0px 10px;
    display: block;
    padding: 15px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

footer {
    height: 140px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: grey;
    background-color: #f2f2f2;
}

.footer-right {
    float: right;
}

.carbon {
    text-align: center;
    margin-bottom: 20px;
}

.carbon-item {
    display: inline-block;
}

#services {
    color: #3c4043;
    font-size: 12px;
}

.input-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 5px 4px;
    line-height: 27px;
    height: 36px;
    width: 120px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

#mic {
    height: 20px;
}

.search-icons {
    padding: 10px;
}